/* ========================================
   Main CSS - Import All Stylesheets
   ======================================== */

/* Base Styles */
@import url('base/variables.css');
@import url('base/reset.css');
@import url('base/utilities.css');

/* Components */
@import url('components/buttons.css');
@import url('components/forms.css');
@import url('components/tables.css');
@import url('components/cards.css');
@import url('components/modals.css');
@import url('components/navigation.css');
@import url('components/tabs.css');
@import url('components/toast.css');

/* Pages */
@import url('pages/my-business.css');
@import url('pages/scan-master.css');
@import url('pages/client-detail.css');
